@model PostViewModel
@{

}
<link href="~/lib/trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />

<div>
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden"/>
        <div>
            <label>Title</label>
            <input asp-for="Title" required/>
        </div>
        <div>
            <label>Description</label>
            <input asp-for="Description" required />
        </div>
        <div>
            <label>Tags</label>
            <input asp-for="Tags" required />
        </div>
        <div>
            <label>Category</label>
            
            
                <select asp-for="Category" >
                <option value="Travel">Travel</option>
                <option value="Photo">Photo</option>
                <option value="Story">Story</option>
            </select>
        </div>
        <div>
            <label>Body</label>
            
            <textarea id="editor" asp-for="Body" required></textarea>
        </div>
        <div>
            <label>Image</label>
            <input asp-for="CurrentImage" type="hidden"/>
            <input asp-for="Image" required/>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>
}