body {
    margin: 0;
    font-family: monospace;
    background-color: #e5e5f7;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav {
    background-color: #323674;
    height: 50px;
    width: 100%;
    text-align:center;
}
nav a{
    display: inline-block;
    height: 100%;
    padding: 15px;
}
.main-img{
    position: relative;
    height:500px;
    background-image: url('../content/static/blog-2.jpg');
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search{
    margin-top: 30px;
    color: black;
    background-color:transparent;
    border: none;
    outline: none;
    color: #d7b17e;
    font-size: 20px;
    border-bottom:2px solid pink;
}
    .search::placeholder {
        color: #fe0000;
    }
.main-img .title {
    margin-bottom:2rem;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    
}
.title {
    position: absolute;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}
.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
}
.post{
    margin: 5px;
    position: relative;
    display:flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

.post img{
    width: 100%;
    object-fit: cover;
}
    .post .title {
    position: absolute;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px black;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}
.post-body {
    margin: -5px 5px 0;
    background-color: #323674;
    color: white;
    padding: 20px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.no-shadow{
    box-shadow: none;
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}
.pages a{
        background-color: #999;
        padding: 0.5rem 0.75rem;
        color: white;
        border: 1px solid #eee;
        margin: 0 0.25rem;
    }
    .pages a.active {
        background-color: #ccc;
    }
    .pages a:hover {
        background-color: #aaa;
        text-decoration:none;
    }
.three-dots {
    line-height: 1;
    font-size:24px;
}
.sign-in-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
    .sign-in-form div {
        max-width: 100px;
        width: 100%;
        margin-bottom: 1rem;
    }